<section class="ce-settings">
  <fieldset class="ce-nil-group">
    <legend class="ce-nil-legend">Print NIL for all crew rows</legend>
    @if (isGermany()) {
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form03().nilCigarettes"
          (ngModelChange)="onNilToggle03('nilCigarettes', $event)"
        />
        <span>Cigarettes (pcs)</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form03().nilCigars"
          (ngModelChange)="onNilToggle03('nilCigars', $event)"
        />
        <span>Cigars (pcs)</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form03().nilSpirits"
          (ngModelChange)="onNilToggle03('nilSpirits', $event)"
        />
        <span>Spirits (l)</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form03().nilWeapons"
          (ngModelChange)="onNilToggle03('nilWeapons', $event)"
        />
        <span>Weapons (pcs)</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form03().nilAmmunition"
          (ngModelChange)="onNilToggle03('nilAmmunition', $event)"
        />
        <span>Ammunition (pcs)</span>
      </label>
    } @else if (isForm02()) {
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form02().nilCigarettes"
          (ngModelChange)="onNilToggle02('nilCigarettes', $event)"
        />
        <span>Cigarettes</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form02().nilTobaccoCigars"
          (ngModelChange)="onNilToggle02('nilTobaccoCigars', $event)"
        />
        <span>Tobacco / Cigars</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form02().nilSpirits"
          (ngModelChange)="onNilToggle02('nilSpirits', $event)"
        />
        <span>Spirits</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form02().nilBeer"
          (ngModelChange)="onNilToggle02('nilBeer', $event)"
        />
        <span>Beer</span>
      </label>
    } @else {
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form01().nilCigarettes"
          (ngModelChange)="onNilToggle01('nilCigarettes', $event)"
        />
        <span>Cigarettes</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form01().nilSpirits"
          (ngModelChange)="onNilToggle01('nilSpirits', $event)"
        />
        <span>Spirits (Ltr)</span>
      </label>
      <label class="ce-nil-check">
        <input
          type="checkbox"
          [ngModel]="form01().nilWines"
          (ngModelChange)="onNilToggle01('nilWines', $event)"
        />
        <span>Wines (Ltr)</span>
      </label>
    }
  </fieldset>

  <label class="ce-nil-check ce-append-passengers">
    <input
      type="checkbox"
      [ngModel]="appendPassengers()"
      (ngModelChange)="onAppendPassengersChange($event)"
    />
    <span>Append passengers after crew</span>
  </label>

  @if (isForm02()) {
    <label class="ce-field">
      <span class="ce-label">P.E.</span>
      <input
        type="text"
        class="ce-input"
        [ngModel]="form02().others"
        (ngModelChange)="onOthersChange($event)"
        placeholder="- P. E. -"
      />
    </label>
  } @else {
    <label class="ce-field">
      <span class="ce-label">Others</span>
      <input
        type="text"
        class="ce-input"
        [ngModel]="othersValue()"
        (ngModelChange)="onOthersChange($event)"
        placeholder="- P. E. -"
      />
    </label>
  }

  <app-document-stamp-options [documentId]="stampDocumentId()" />
</section>
